{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
<h2 class="page-header">Add Todos </h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
{% endblock %}